* {
font-family: 'Lato', sans-serif;
margin: 0px;
padding: 0px; 
}

header {
background-color:#EB4B98;
color: #FFFFFF;
font-size: 20px;
font-weight: bolder;
text-align: center;
padding: 10px;
height: 50px;
}

.view{
position: relative;
width: auto;
height: 640px;
}
/*primeraview*/
#firstView{
display: flex;
flex-direction: column;
align-items: center;
}
/*landing*/
#landing{
display:flex;
width:1020;
margin-top:20px;
}
#landingImage{
width: 580px;
height:200px;
}
#landingSide{
width: 400px;
background-color: #F49FBC;
height: 185px;
font-size: 70px;
color: #FFFFFF;
padding-left:40px;
padding-top: 15px;
}
/*parrilla de cursos*/
#parrilla{
width: 960px;
height: 600px;
background: #F5F5F5;
margin-bottom:50px;
padding:10px 30px;
}

.curso{
width: 280px;
height:210px;
margin:20px;
background-color: #FFFFFF;
float: left;
border-radius: 15px;
color:#5158BB;
text-align: center;
font-weight: bold;
}

.item{
background-color: #5158BB;
color: #FFFFFF;
width: 100px;
border-radius: 5px;
height: 20px;
margin-top: 10px;
}

.cursoImage{
width: 280px;
}

/*segunda view*/

.subtitle{
font-size:25px;
font-weight: bold;
text-align: center;
margin-top: 40px;
margin-bottom:40px;
color: #5158BB;  
}

.askInfo{
background-color:#F5F5F5;
width:400px;
padding:20px;
margin-bottom:30px;
border-radius: 15px; 
}

input{
margin-top: 10px;
width:200px;
}

#buttonPay{
position: relative;
left:125px;
width:200px;
height:40px;
margin-top:25px;
background-color: #5158BB;
color: #FFFFFF;
font-size: 20px;
border-radius: 15px;
}

.textBoldSmall{
font-size:20px;
}

/*ocultar seccion de formulario*/
#secondView{
display:none;
flex-direction: column;
align-items: center;
}

/*tercera vista*/
#thirdView{
display: none;
flex-direction: column;
align-items: center;
background:url("https://img.webme.com/pic/c/cssplantillas/confeti.gif")repeat fixed;
}

.container{
width: 1020px;
height: 600px;
background: #F5F5F5;
display: flex;
flex-direction: column;
align-items: center;
}

.congratulations{
display:block;
color:#5158BB;
font-weight: bold;
font-size:30px;
margin: 15px;
text-align:center;
}
.showInfo{
background-color: #F49FBC;
margin-top:20px;
width:350px;
padding:15px;
border-radius: 15px;
color: #FFFFFF;
}

.successImage{
position: relative;
margin-top:20px;
left: 230px;
width:50%;
}

footer{
height: 30px;
text-align: center;
width: 1020px;
background-color: #F5F5F5;
margin-top: 120px;
margin-left: 270px;
padding:5px;
margin-right:200px;
}

