* {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px; 
}
body {
position: relative;
background: #FFFFFF;
}

header {
background-color:#25D9D9;
color: #FFFFFF;
font-size: 20px;
font-weight: bolder;
text-align: center;
padding: 10px;
}

.subtitle{
font-size:25px;
font-weight: bold;
text-align: center;
margin-top: 40px; 
color: #032CA6;  
}

.view{
height: 600px;
flex-direction: column;
align-items: center;
}


.askInfo{
background-color:#F5F5F5;
width:400px;
padding:20px;
margin:15px;
border-radius: 15px; 
}

input{
margin: 10px;
width:200px;
}

#buttonPay{
position: relative;
left:125px;
width:200px;
height:40px;
margin-top:25px;
background-color: #032CA6;
color: #FFFFFF;
font-size: 20px;
border-radius: 15px;
}

.textBoldSmall{
font-size:20px;
}

/*ocultar seccion de compra exitosa*/
#secondView{
    display:flex;
    background-color:#FFFFFF;
}

#thirdView{
    display: none;
}

.hide{
    display:none;
}

/*tercera vista*/
#successImage{
width:50%;
}


footer{
padding: 10px;
}